#contact{
    width: 500px;
    height: 500px;
}


#school img{
    width: 1345px;
    height:550px;
}

body{
    background-color: aqua;
}

.imgp{
    image-resolution: snap;
}








